<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p class=notice><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class=alert><%= alert %></p>
    <% end %>
    <header class=contentHeader>
      <%= link_to "users" do %>
        <%= image_tag "https://rails-02-sample.herokuapp.com/assets/common/logo.png", class: "headerLogo", alt: "サイトロゴ"  %>
      <% end %>
      <ul class=accountNav>
        <li class=accountItems_login>
          <%= link_to "ログイン", :new_user_session, class: "login" %>
        </li>
        <li class=accountItems_register>
          <%= link_to "新規登録", :new_user_registration, class: "registration" %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
